<%= content_for :title do %>
  <div class="page-header__title">
    <span class="branch">
      profile
    </span>
  </div>
<% end %>

<%= render 'layouts/header' %>
<turbo-frame id="users">
  <div class="container mb-2">
    <div class="row">
      <div class="col align-self-start">
        <h3 class='font-monospace'>
          <%= @user.name %>
        </h3>
        <ul class="mt-4">
          <% @user.todos.each do |todo|%>
            <%= render 'todos/todo', todo: todo %>
            <% unless @user.id == current_user.id %>
              <div id="follow_form">
                  <%= link_to "unfollow", unfollow_todo_path(id: todo.id), data: { turbo_method: :post }, class: "main-nav__link" %> 
                  <%= link_to "follow", follow_todo_path(id: todo.id), data: { turbo_method: :post }, class: "main-nav__link" %> 
              </div>
            <% end %>
          <% end %>
        </ul>
      </div>
      <div class="col align-self-end mb-3">
      </div>
    </div>
  </div>
</turbo-frame>

