
<%= form_for(Todo.new, url: todos_path) do |f| %> 
    <ul>
      <li>
        <h3><%= f.label "New category of list:", class: "font-monospace mb-2" %></h3>
        <div class="input-group-text rounded-0 p-0 border-0", style="max-width: 40rem;">
          <div class="input-group-prepend">
            <%= f.check_box  :checkable, class: "btn-check btn-outline-secondary" %>
            <%= f.label      :checkable, "Checkable", class:"btn btn-outline-dark btn-check-2-dark rounded-0" %>
            <%= f.text_field :title, class: "form-input text-center", style: "width: 115%; height: 38px;" %>
          </div>
        </div>
      </li>
    </ul>
  <%= f.submit "Create", class: "btn btn-outline-dark w-100 rounded-0" %>
<% end %>

